<!doctype html>
<html>

<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <script src='https://cdn.tailwindcss.com'></script>
  <link href='https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css' rel='stylesheet' />
  <style>
    * {
      margin: 0%;
      padding: 0%;
      box-sizing: border-box;
      font-family: 'Gilroy';
    }

    *::-webkit-scrollbar {
      display: none;
    }

    html,
    body {
      height: 100%;
      width: 100%;
    }

    main {
      min-height: 100%;
    }
  </style>
  <title>Cafe-Central</title>
</head>

<body class="bg-zinc-800">
  <nav class="w-full sticky top-0">
    <header class="drop-shadow-md w-100 flex  px-8 pr-0 justify-between items-center bg-zinc-700">
      <h1 class="text-blue-100">Shop</h1>
      <div class="flex flex-row px-8 pr-0 justify-center items-center">
        <a href="/wishlist" class="p-4 px-8">
          <i class="ri-heart-line text-white "></i>
        </a>
        <a href="/cart" class="p-4 px-8">
          <i class="ri-shopping-cart-line text-white "></i>
        </a>
        <a href="/logout" class=" text-red-500 p-4 px-8">
          <i class="ri-logout-circle-r-line"></i>
        </a>
      </div>
    </header>
  </nav>

  <main>
    <section class="p-4 px-6 text-white">
      <div class="items flex flex-col gap-10">
        <% if((userCart.products.length)> 0) {%>
          <% userCart.products.forEach(function(cartProduct){ %>
            <div class="item flex flex-col gap-1">
              <div class="top flex gap-3">
                <div class="left w-20 flex-shrink-0 ">
                  <img class="h-20 w-20 rounded-md aspect-square object-cover"
                    src="<%= cartProduct.product.images[0] %>" alt="">
                </div>
                <div class="right truncate">
                  <h1 class="truncate text-xl">
                    <%= cartProduct.product.name %>
                  </h1>
                  <p class="truncate leading-none opacity-50">
                    <%= cartProduct.product.description %>
                  </p>
                  <p class="text-light leading-loose mt-auto"> ₹<%= cartProduct.product.price %>
                  </p>
                </div>
              </div>
              <div class="bottom flex gap-3 justify-end">
                <label for="quantity_1" class="flex gap-3 text-zinc-900 w-fit p-2 rounded-md border bg-slate-50">
                  qty :
                  <input style="width: 4ch;" type="Number" class="bg-transparent text-zinc-900 outline-none border-none"
                    id="quantity_1" value="<%= cartProduct.quantity %>" oninput="((event)=>{
                        updateQuantity('<%= cartProduct._id %>',event.target.value)
                      })(event)">
                </label>
                <a href="/remove/<%= cartProduct._id %>" class="w-fit p-2 rounded-md border bg-zinc-700 border-red-500">
                  <i class="text-xl text-red-600 font-extralight ri-delete-bin-6-line"> </i> </a>
              </div>
            </div>
            <%})%>
              <%} else {%>
                <div class="text-white flex flex-col justify-center items-center ">
                  <h1 class="text-bold text-2xl">No Items Added !</h1>
                  <p class="text-zinc-400 text-sm ">please add some items</p>
                </div>
                <%}%>
      </div>
    </section>
  </main>

  <nav class="sticky bottom-[6.5rem] p-3 px-6 bg-slate-100 flex justify-between items-center    "
    style="border-bottom: 1px solid #aaa;">
    <h1 class="text-xl">
      <small>Total :</small> ₹<%= totalPrice %>
    </h1>
    <button class="p-2 px-4 text-lg bg-slate-200 rounded-md">place order</button>
  </nav>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"
    integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    async function updateQuantity(cartProductId, quantity) {
      if (quantity > 0) {
        const response = await axios.post('/updateQuantity', {
          cartProductId,
          quantity
        })
        console.log(response.data)
      } else {
        console.log('quantity less than zero')
      }
    }
  </script>

  <nav class="w-100% sticky bottom-0 text-white ">
    <header class="w-100 bg-zinc-700 h-fit flex px-4 justify-between box-shadow-lg ">
      <a href="/" class="p-4 flex flex-col items-center">
        <i class="
    text-xl
    ri-home-3-line
     "> </i>
        <small>Home</small>
      </a>
      <a href="/createProduct" class="p-4 flex flex-col items-center">
        <i class="
    text-2xl
    ri-add-line
     "> </i>
        <small>Add product</small>

        <small class="text-gray-500">( only for SELLER )</small>
      </a>


      <a href="/profile" class="p-4 items-center justify-center flex  flex-col items-center">
        <i class="
    text-xl
    ri-user-line
   
    opacity-75
     "> </i>
        <small>Profile</small>
      </a>
    </header>
  </nav>

</body>

</html>