<!doctype html>
<html>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <script src='https://cdn.tailwindcss.com'></script>
    <link href='https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css' rel='stylesheet' />
    <style>
        * {
            margin: 0%;
            padding: 0%;
            box-sizing: border-box;
            font-family: 'Gilroy';
        }

        *::-webkit-scrollbar{
            display: none;
        }

        html,
        body {
            height: 100%;
            width: 100%;
        }

        main {
            min-height: 100%;
        }

        .products {
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            gap: 1rem;
            row-gap: 2.5rem;
        }

        .product {
            max-width: 350px;
        }
    </style>
    <title>Shop</title>
</head>

<body class="bg-zinc-800">
    <nav class="w-100 sticky top-0">
        <header class="drop-shadow-md w-100 flex  px-8 pr-0 justify-between items-center bg-zinc-700">
            <h1 class="text-blue-100">Shop</h1>
            <div class="flex flex-row px-8 pr-0 justify-between items-center">
                <a href="/wishlist" class="p-4 px-8">
                    <i class="ri-heart-line text-white "></i>
                </a>
                <a href="/cart" class="p-4 px-8">
                    <i class="ri-shopping-cart-line text-white "></i>
                </a>
                <a href="/logout" class=" text-red-500 p-4 px-8">
                    <i class="ri-logout-circle-r-line"></i>
                </a>
            </div>
        </header>
    </nav>

    <main>
        <section class="flex flex-row products grid p-2 pt-4">
            <%product.forEach(function(elem){%>
                <%if(elem.category==='maincourse' ){%>

                    <div class="product w-100 rounded-md overflow-hidden">
                        <div class="images 100% flex overflow-x-auto" style="scroll-snap-type: x mandatory;">
                            <% elem.images.forEach(function(img) { %>
                                <img class="w-100 aspect-3/4 object-contain" src="<%= img %>" alt="Not Found"
                                    onerror="this.src='https://imgs.search.brave.com/gIbQrP0O3Ih-btS-iQxgOnHYsn9KL6prycDFXfK6KUw/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzA1LzUyLzM3LzE4/LzM2MF9GXzU1MjM3/MTg2N19Ma1ZtcU1F/Q2hSaE1NSERRMmRy/T1M4Y3doQVdlaGdW/Yy5qcGc';">
                                <% }) %>
                        </div>
                        <div class="text p-2 truncate">
                            <h1 class="text-white">
                                <%=elem.name%>
                            </h1>
                            <p class="opacity-50 text-gray-300 text-sm truncate">
                                <%=elem.description%>
                            </p>
                            <p class="opacity-50 text-gray-300 text-sm truncate">@<%=elem.user.username%>
                            </p>
                        </div>
                        <div class="flex flex-col justify-between p-2 pt-0 gap-2">
                            <span class="text-lg text-gray-100 font-thin">₹ <%=elem.price%></span>
                            <button class="bg-slate-100 opacity-75 uppercase text-sm px-4 py-2 rounded">Add to
                                cart</button>
                        </div>
                    </div>


                    <%}%>
                <%})%>
        </section>
    </main>

    <nav class="w-100% sticky bottom-0 text-white ">
        <header class="w-100 bg-zinc-700 h-fit flex px-4 justify-between box-shadow-lg ">
            <a href="/" class="p-4 flex flex-col items-center">
                <i class="
        text-xl
        ri-home-3-line
         "> </i>
                <small>Home</small>
            </a>
            <a href="/createProduct" class="p-4 flex flex-col items-center">
                <i class="
        text-2xl
        ri-add-line
         "> </i>
                <small>Add product</small>
            </a>


            <a href="/profile" class="p-4 items-center justify-center flex  flex-col items-center">
                <i class="
        text-xl
        ri-user-line
       
        opacity-75
         "> </i>
                <small>Profile</small>
            </a>
        </header>
    </nav>

</body>

</html>